/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

tr {
    border: 2px solid black;
    background-color: dimgrey;
    color: white;
    border-radius: 15px;
    padding: 7.5%;
}

.EditBlock {
    border: 2px solid black;
    background-color: dimgrey;
    color: white;
    border-radius: 15px;
    padding: 7.5%;
}

.searchFormSection {
    border: 2px solid black;
    background-color: dimgrey;
    color: white;
    border-radius: 15px;
    padding: 7.5%;
}

.RegisterSection {
    border: 2px solid black;
    background-color: dimgrey;
    color: white;
    border-radius: 15px;
    padding: 7.5%;
}

.LoginSection {
    border: 2px solid black;
    background-color: dimgrey;
    color: white;
    border-radius: 15px;
    padding: 7.5%;
}

.StreamForm {
    border: 2px solid black;
    background-color: dimgrey;
    color: white;
    border-radius: 15px;
    padding: 7.5%;
}

.CreateButton {
    padding: 5px;
    border: 2px solid black;
    background-color: dimgray;
    color: white;
    border-radius: 15px;
}

.AccountManageBox {
    border: 2px solid black;
    background-color: dimgrey;
    padding: 7.5%;
    border-radius: 15px;
}

.detailsBlock {
    border: 2px solid black;
    background-color: dimgrey;
    border-radius: 15px;
    color: white;
    padding: 7.5%;
}



.FilmOptionLinks{
    color:black;
    border: 2px solid white;

}
.Poster{
    border:1px solid White;
    border-radius: 15px;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.cartSummary{
    color:white;
    border:2px solid black;
    background-color:dimgrey;
    border-radius:15px;
    padding: 20px;
}

/* Provide sufficient contrast against white background */
a {
  color: black;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.container {
 }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
:root {
    --imgBack: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercan.com%2Fdownload%2F1920x1080%2F25aa8754%2Fmovie-poster-of-john-wick-3.jpg&f=1&nofb=1);
}
.backgroundIMG {
    background-image: var(--imgBack);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
body {
    /* Margin bottom by footer height */
    
    
    
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
